body{
    background-image: linear-gradient(135deg,#f94646,#f9468d,#f946cc,#f946eb);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

.header{
    background-color: #DB241B;
}

.div_input{
    display: grid;
    width: 25%;
    height: 50%;
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin: auto;
    margin-top: 15%;
    border-radius: 16px;
    background: linear-gradient(145deg, #c52018, #ea271d);
    box-shadow:  35px 35px 70px #6e120e,
                 -35px -35px 70px #ff3629;
}

.title{
    text-align: center;
    font-size: 400;
}

.input{
    padding: 1rem;
    margin-top: 0.5rem;
    border-style: none;
    border-radius: 20px;
}

.access_btn{
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

@keyframes fanimados{
    0%{
        background-position: 0%, 50%;
        }
    50%{    
        background-position:100%, 50% ;    
        }
    100%{    
        background-position:0%, 50% ;    
        }

    }

        
   
